<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test runner">
    <test name="Package with subpackages">
        <classes>
            <class name = "com.bdd.framework.maincontroller.MainController"/>
            <class name = "com.bdd.framework.runcukes.TestngRunner"/>"
        </classes>
    </test>
</suite>